{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overview2</title>
    <link rel="stylesheet" href="{%static 'styles/styles.css' %}" />
    <style>
      .head {
        background: url("{%static 'imgs/bg_003.jpg' %}") no-repeat center;
      }
    </style>
  </head>
  <body>
    <div class="head_container">
      <div class="head__logo"><a href="/"> 🏡Home</a></div>
      <div class="head">
        <div class="head__title">
          <span>✨야심찬 얼굴 인식 기능!✨</span>
        </div>
      </div>
    </div>
    <div class="body_container">
      <div class="contents">
        <div class="contents__subtitle">1. 얼굴 인식해서 사진 모아주기</div>
        <div class="contents__paragraph">
          얼굴 인식을 이용해서 사진을 모아주는 기능은 아이폰에 이미 있지만!
          그래서 더 정확도를 높이기도 힘들고 사진이 찍힌 환경에 의존적이기도
          해서 어렵겠지만!
          <br />
          직접 해보면 또 재미가 있지 않을까..하고 꿈을 크게 가져 보았습니다..
          <br />
          단체 공유 다이어리가 만들어질 때 잘 나온 한 장 정도를 가지고 미리
          인식하게 해주는 것도 좋을 것 같아요,, 아니면 가입할 때나!

          <br />
          <br />
          사실 링크로 url을 여러 개 써보려고 만든 페이지라 이만 줄입니다👍
        </div>
      </div>
    </div>
  </body>
</html>
