{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="#" />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <title>3️⃣ March</title>
  </head>
  <body>
    <div class="head">
      <span class="head__title"
        >This is <span>March</span> , <span>2022</span></span
      >
    </div>
    <div class="detail_container">
      <div class="detail__diary">
        <h3>{{ diary.title }}</h3>
        <br />
        <div class="detail_date">{{ diary.pub_date|date:'Y-m-d H:i' }}</div>
        <div class="detail_content">{{ diary.body }}</div>
        <div class="content__index footer">
          <a href="{% url 'update' diary.id %}">
            <img src="{% static 'img/pagan.svg' %}" alt="pagan" width="50px" />
            <span>Edit your memories ...</span>
          </a>
          <br />
          <a href="{% url 'delete' diary.id %}">
            <img src="{% static 'img/pagan.svg' %}" alt="pagan" width="50px" />
            <span>Delete your memories ...</span>
          </a>
        </div>
      </div>
      <div class="detail__comment">
        <form action="{% url 'commentcreate' diary.id %}" method="POST">
          {% csrf_token %} {{ form }}
          <button class="btn_search" type="submit">save</button>
        </form>
        <br /><br />
        {% for comment in diary.comment_set.all|dictsort:'updated_at' %}
        <div class="comment_block">
          ⁜ {{ comment.updated_at|date:'Y-m-d H:i' }} // {{ comment.content }}
          &nbsp; &nbsp; <a href="#">Χ</a>
          <br />
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="content__index footer">
      <a href="{% url 'month' diary.pub_date.month %}">
        <img src="{% static 'img/pagan.svg' %}" alt="pagan" width="50px" />
        <span>Travel to other memories ...</span>
      </a>
    </div>
  </body>
</html>
