@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
}

body,
h1,
h2 {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: fit-content;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
}

h2 {
  background-color: #677ff0;
  font-size: 20px;
  font-weight: 600;
  color: whitesmoke;
  margin-bottom: 16px;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px;
  padding: 5px;
}

section {
  margin-bottom: 24px;
}

.mainbox {
  width: 610px;
  padding: 30px;
  margin: 30px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ebebeb;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.title-box {
  text-align: right;
  margin-bottom: 20px;
}

.badge {
  margin-left: 10px;
}
